{% extends "index.html" %}

{% block title %}

Kundsida {{ customer.GivenName}} {{ customer.Surname }}

{% endblock %}

{% block head %}
<h1>Laurentzèn</h1>
<h4>Bank</h4>
{% endblock %}

{% block content %}


<h1 style="color:rgb(81, 62, 33)">This is customer: {{ customer.Id }}:s personal information</h1>

<div class="row">
    <div class="column">
        <table class="tb">
            <tr>
                <th>Id:</th>
                <td>{{ customer.Id }}</td>
            </tr>
            <tr>
                <th>First name:</th>
                <td>{{ customer.GivenName }}</td>
            </tr>
            <tr>
                <th>Last name:</th>
                <td>{{ customer.Surname }}</td>
            </tr>
            <tr>
                <th>Streetaddress:</th>
                <td>{{ customer.Streetaddress }}</td>
            </tr>
            <tr>
                <th>City:</th>
                <td>{{ customer.City }}</td>
            </tr>
            <tr>
                <th>Zipcode:</th>
                <td>{{ customer.Zipcode }}</td>
            </tr>
            <tr>
                <th>Country:</th>
                <td>{{ customer.Country }}</td>
            </tr>
            <tr>
                <th>Birthday:</th>
                <td>{{ customer.Birthday }}</td>
            </tr>
            <tr>
                <th>NationalId:</th>
                <td>{{ customer.NationalId }}</td>
            </tr>
            <tr>
                <th>Telephone country code:</th>
                <td>{{ customer.TelephoneCountryCode }}</td>
            </tr>
            <tr>
                <th>Telephone:</th>
                <td>{{ customer.Telephone }}</td>
            </tr>
            <tr>
                <th>Emailaddress:</th>
                <td>{{ customer.EmailAddress }}</td>
            </tr>

    </table>
    </div>
        <div class="column">
    <table class="tb">
            <th>Accounts:</th>
            <th>Balance:</th>


            {% for account in a %}

            <tr>
                <th><a href="{{ url_for('customerpage.Transaktioner',id=account.Id ) }}" class="btn3">{{ account.AccountType }}, ID: {{ account.Id }}</a></th>
                <td>{{ account.Balance }} :-</td>
                <td><a href="{{ url_for('deposit',id=account.Id ) }}" class="btn3">Deposit</a></td>
                <td><a href="{{ url_for('withdraw',id=account.Id ) }}" class="btn3">Withdraw</a></td>
                <td><a href="{{ url_for('Transfer',id=account.Id ) }}" class="btn3">Transfer</a></td>
                
            </tr>
            {% endfor %}
            <th>Total balance:</th>
                <td>
                    {{ Saldo }} :-
                </td>

        </table>
        
    </div>
</div>

<a href="{{ url_for('customerpage.editcustomer',id=customer.Id ) }}" class="btn-get-started animate__animated animate__fadeInUp">Edit
    customer</a>

{% endblock %}