{% extends "index.html" %}
{% block content %}

<form method="get">
    <input type="text" placeholder="sök" value="{{ q }}" name="q">
    <input class="btn3" type=submit value="Search">
</form>

<p style="color:white">You are on page {{ page }} off {{ pages }}</p>
<table class="tb2" style="color:white">
    <tr>
        <th>Name
            <a href="{{  url_for('customerpage.customers',sortColumn='namn',sortOrder='asc', q=q, page=page  ) }}">
                <i class='bx bx-up-arrow-alt'></i>
            </a>
            <a href="{{  url_for('customerpage.customers',sortColumn='namn',sortOrder='desc', q=q, page=page ) }}">
                <i class='bx bx-down-arrow-alt'></i>
            </a>
        </th>

        <th>City
            <a href="{{  url_for('customerpage.customers',sortColumn='city',sortOrder='asc', q=q, page=page ) }}">
                <i class='bx bx-up-arrow-alt'></i>
            </a>
            <a href="{{  url_for('customerpage.customers',sortColumn='city',sortOrder='desc', q=q, page=page ) }}">
                <i class='bx bx-down-arrow-alt'></i>
            </a>
        </th>
        <!-- <th>Customer number</th>
        <th>Social security number</th>
        <th>Streetaddress</th> -->

        <th>Customer number
            <a href="{{  url_for('customerpage.customers',sortColumn='id',sortOrder='asc', q=q, page=page  ) }}">
                <i class='bx bx-up-arrow-alt'></i>
            </a>
            <a href="{{  url_for('customerpage.customers',sortColumn='id',sortOrder='desc', q=q, page=page ) }}">
                <i class='bx bx-down-arrow-alt'></i>
            </a>
        </th>

        <th>Social security number
            <a href="{{  url_for('customerpage.customers',sortColumn='NationalId',sortOrder='asc', q=q, page=page ) }}">
                <i class='bx bx-up-arrow-alt'></i>
            </a>
            <a href="{{  url_for('customerpage.customers',sortColumn='NationalId',sortOrder='desc', q=q, page=page ) }}">
                <i class='bx bx-down-arrow-alt'></i>
            </a>
        </th>
        <th>Streetaddress
            <a href="{{  url_for('customerpage.customers',sortColumn='Streetaddress',sortOrder='asc', q=q, page=page ) }}">
                <i class='bx bx-up-arrow-alt'></i>
            </a>
            <a href="{{  url_for('customerpage.customers',sortColumn='Streetaddress',sortOrder='desc', q=q, page=page ) }}">
                <i class='bx bx-down-arrow-alt'></i>
            </a>
        </th>


    </tr>
    {% for customer in listOfCustomers %}
    <tr>
        <td>{{ customer.GivenName }}</td>
        <td>{{ customer.City }}</td>
        <td>{{ customer.Id }}</td>
        <td>{{ customer.NationalId }}</td>
        <td>{{ customer.Streetaddress }}</td>
        <td>
    

            <a  href="{{ url_for('customerpage.customerpage',id = customer.Id ) }}" class="btn3" >More info</a>


        </td>
    </tr>
    {% endfor %}
    <tfooter>
        <tr>
            <td>
                {% if has_prev %}
                <a class="btn2"
                    href="{{  url_for('customerpage.customers',sortColumn=sortColumn,sortOrder=sortOrder, q=q, page=page - 1) }}">
                    Prev
                </a>
            </td>
            {% endif %}
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                {% if has_next %}
                <a class="btn2"
                    href="{{  url_for('customerpage.customers',sortColumn=sortColumn,sortOrder=sortOrder, q=q, page=page + 1) }}">
                    Next
                </a>
            </td>
            {% endif %}
        </tr>
    </tfooter>

    {% for c in customers %}
    <tr>
        <td>
            {{ c.Name }}
        </td>
        <td>
            {{ c.City }}
        </td>
        <td>
            <a href="{{ url_for('customerpage.editcustomer',id=c.Id ) }}">
                <i class='bx bx-edit-alt'></i>
            </a>
        </td>
    </tr>

    {% endfor %}

</table>

{% endblock %}