{% extends "index.html" %}

{% block content %}
{% for field, errors in form.errors.items() %}
{{ form[field].label }}: {{ ', '.join(errors) }}
{% endfor %}

<section id="hero2" class="d-flex justify-cntent-center align-items-center">

         <div class="carousel-container">
            
            <form class="form-control" method="post">
               <table class="hero2">
                  {{ form.csrf_token }}
                  <h3>Edit customer</h3>
                  <tbody>
                     <tr>
                        <td>Firstname</td>
                        <td>{{ form.GivenName(placeholder="John") }}</td>
                     </tr>
                     <tr>
                        <td>Lastname</td>
                        <td>{{ form.Surname(placeholder="Smith") }} </td>
                     </tr>
                     <tr>
                        <td>Street Adress</td>
                     <td>{{ form.Streetaddress(placeholder="Happy road") }}</td>
                  </tr>
                  <tr>
                     <td>City</td>
                     <td>{{ form.City(placeholder="Mountain Village") }}</td>
                  </tr>
                  <tr>
                     <td>Zipcode</td>
                     <td>{{ form.Zipcode(placeholder="12345") }}</td>
                  </tr>
                  <tr>
                     <td>Country</td>
                     <td>{{ form.Country(placeholder="USA") }}</td>
                  </tr>
                  <tr>
                     <td>Country code</td>
                     <td>{{ form.CountryCode(placeholder="US") }}</td>
                  </tr>
                  <tr>
                     <td>Birthday</td>
                     <td>{{ form.Birthday(placeholder="Enter birthday") }}</td>
                  </tr>
                  <tr>
                     <td>National Id</td>
                     <td>{{ form.NationalId(placeholder="YYMMDD-0000") }}</td>
                  </tr>
                  <tr>
                     <td>Telephone Countrycode</td>
                     <td>{{ form.CountryCode(placeholder="55") }}</td>
                  </tr>
                  <tr>
                     <td>Telephone</td>
                     <td>{{ form.Telephone(placeholder="(000)222-2222") }}</td>
                  </tr>
                  <tr>
                     <td>Email</td>
                     <td>{{ form.EmailAddress(placeholder="hello@mail.dk") }}</td>
                  </tr>
               </tbody>
            </table>
            <br>
            <input class="input" type="submit" value="Save">
         </form>
      </div>
         {% endblock %}