{% extends "index.html" %}
{% block content %}

<form method="get">
    <input type="text" placeholder="sök" value="{{ q }}" name="q">
    <input class="btn" type=submit value="Sök">
</form>

<p style="color:white">Du är på sidan {{ page }} av totalt {{ pages }}</p>
<table style="color:white">
    <tr>
        <th>Name
            <a href="{{  url_for('customers',sortColumn='namn',sortOrder='asc', q=q, page=page  ) }}">
                <i class='bx bx-up-arrow-alt'></i>
            </a>
            <a href="{{  url_for('customers',sortColumn='namn',sortOrder='desc', q=q, page=page ) }}">
                <i class='bx bx-down-arrow-alt'></i>
            </a>
        </th>

        <th>City
            <a href="{{  url_for('customers',sortColumn='city',sortOrder='asc', q=q, page=page ) }}">
                <i class='bx bx-up-arrow-alt'></i>
            </a>
            <a href="{{  url_for('customers',sortColumn='city',sortOrder='desc', q=q, page=page ) }}">
                <i class='bx bx-down-arrow-alt'></i>
            </a>
        </th>
    </tr>
    {% for customer in listOfCustomers %}
        <tr>
            <td>{{ customer.GivenName }}</td>
            <td>{{ customer.City }}</td>
            <td>
                <a class="customerlink colororange" href="#"> Se mer</a>
            </td>
        </tr>
        {% endfor %}
        <tfooter>
            <tr>
                <td>
                    {% if has_prev %}
                    <a class="btn"
                        href="/customers?page={{ page - 1 }}&sortColumn={{ sortColumn }}&sortOrder={{ sortOrder }}&q={{ q }}">
                        Prev
                    </a>
                    {% endif %}
                </td>
                <td></td>
                <td>
                    {% if has_next %}
                    <a class="btn"
                        href="/customers?page={{ page + 1 }}&sortColumn={{ sortColumn }}&sortOrder={{ sortOrder }}&q={{ q }}">
                        Next
                    </a>
                    {% endif %}
                </td>
            </tr>
        </tfooter>
      </table>

{% endblock %}