{% extends "index.html" %}

{% block title %}

Kundsida {{ customer.GivenName}} {{ customer.Surname }}

{% endblock %}

{% block head %}
<h1>Laurentzèn</h1>
<h4>Bank</h4>
{% endblock %}

{% block content %}
<h1>This is customer: {{ customer.Id }}:s personal information</h1>

<table class="tb" style="width:40%">
    <tr>
        <th>Id:</th>
        <td>{{ customer.Id }}</td>
    </tr>
    <tr>
        <th>First name:</th>
        <td>{{ customer.GivenName }}</td>
    </tr>
    <tr>
        <th>Last name:</th>
        <td>{{ customer.Surname }}</td>
    </tr>
    <tr>
        <th>Streetaddress:</th>
        <td>{{ customer.Streetaddress }}</td>
    </tr>
    <tr>
        <th>City:</th>
        <td>{{ customer.City }}</td>
    </tr>
    <tr>
        <th>Zipcode:</th>
        <td>{{ customer.Zipcode }}</td>
    </tr>
    <tr>
        <th>Country:</th>
        <td>{{ customer.Country }}</td>
    </tr>
    <tr>
        <th>Birthday:</th>
        <td>{{ customer.Birthday }}</td>
    </tr>
    <tr>
        <th>NationalId:</th>
        <td>{{ customer.NationalId }}</td>
    </tr>
    <tr>
        <th>Telephone country code:</th>
        <td>{{ customer.TelephoneCountryCode }}</td>
    </tr>
    <tr>
        <th>Telephone:</th>
        <td>{{ customer.Telephone }}</td>
    </tr>
    <tr>
        <th>Emailaddress:</th>
        <td>{{ customer.EmailAddress }}</td>
    </tr>
</table>

<a href="" class="btn-get-started animate__animated animate__fadeInUp">Edit</a>
<!-- <div>
    <button class="btn rounded-0">Edit</button>
</div>                              
 <i class='bx bx-edit-alt'></i> -->



{% endblock %}