<!-- Startsidan ska gruppera antal kunder, antal konton och summan av saldot på konton per LAND. När man klickar på tex "Norway" 
ska man komma till en sida där de 10 största (högst totalsaldo) 
kunderna i det landet visas.  -->

{% extends "index.html" %}
{% block title %}

Kundsida {{ customer.Country}} {{ customer.Surname }}

{% endblock %}
{% block content %}

{% if Country == Sweden %}
<table class="tableSP" style="table-layout:fixed;">
    <tr>
        <th>Total balance:</th>
        <td>{{ balance }} USD</td>
    </tr>
    <tr>
        <th>Total customers:</th>
        <td>{{ customers }}</td>
    </tr>
    <tr>
        <th>Total accounts:</th>
        <td>{{ allAccounts }}</td>
    </tr>
</table>
{% endif %}