<!-- Startsidan ska gruppera antal kunder, antal konton och summan av saldot på konton per LAND. När man klickar på tex "Norway" 
ska man komma till en sida där de 10 största (högst totalsaldo) 
kunderna i det landet visas.  -->

{% extends "index.html" %}
{% block title %}

Kundsida {{ customer.Country}} {{ customer.Surname }}

{% endblock %}
{% block content %}
</table>
</div>
    <div class="column">
<table class="tb">
        <th>Accounts:</th>
        <th>Balance:</th>


        {% for account in a %}

        <tr>
            <th><a href="{{ url_for('customerpage.Transaktioner',id=account.Id ) }}">{{ account.AccountType }}, ID: {{ account.Id }}</a></th>
            <td>{{ account.Balance }} :-</td>
            <td><a href="{{ url_for('deposit',id=account.Id ) }}">Deposit</a></td>
            <td><a href="{{ url_for('withdraw',id=account.Id ) }}">Withdraw</a></td>
            <td><a href="{{ url_for('Transfer',id=account.Id ) }}">Transfer</a></td>
            
        </tr>
        {% endfor %}
        <th>Total balance:</th>
            <td>
                {{ Saldo }} :-
            </td>

    </table>
    
</div>
</div>
{% endblock %}