{% extends "index.html" %}
{% block title %}
Deposit
{% endblock %}

{% block content %}

{% for transaction in t %}
<tr>
    
  <th><a href="{{ url_for('deposit',id=account.Id ) }}">{{ account.AccountType }}</a></th>

    <td>{{ transaction.newtransaction }} :-</td>
</tr>
{% endfor %}

    {% for field, errors in form.errors.items() %}
    {{ form[field].label }}: {{ ', '.join(errors) }}
    </br>
    {% endfor %}
    <h2>Deposit</h2>
    <h1 style="color:rgb(81, 62, 33)">
      Choose the amount the customer wants do deposit. Then press "Save"
    </h1>  
   <form method="post">
      {{ form.csrf_token }}
      
      {{ form.Amount(placeholder="Enter Amount") }}<br><br>
   
  
    <input type="submit" value="Save">
   </form>
{% endblock %}    
